/* Meggan M Green */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    background-color: chocolate;
    background-image: radial-gradient(#e68c4d, #c9641d);
}

.train {
    /* background-color: white; */
    display: block;
    width: 720px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 210px;
    /*new to me `xvh` = x% of viewport height */
    margin-top: calc(50vh - 110px);
    position: relative;
}

.train .car {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 20px 0 0;
    /* first gradient is end highlights, second is top highlight, third is majority */
    background-image: 
        linear-gradient(
            90deg,
            rgba(220, 220, 220, 0.75),
            rgba(220, 220, 220, 0) 15% 85%,
            rgba(220, 220, 220, 0.75)
        ),
        linear-gradient(#CFCFCF, #C9C9C9),
        linear-gradient(#BFBFBF, #BBBBBB);
    background-size: 100%, 100% 8px, 100%;
    background-repeat: no-repeat;
    box-shadow: -1px 1px 2px 3px rgba(230, 230, 230, 0.85) inset;
}

.train .car .stripes {
    position: absolute;
    left: 5px;
    bottom: 10px;
    width: 710px;
    height: 70px;
    background-image: linear-gradient(transparent 25%, #666 45%, transparent 65%);
    background-size: 100% 10px;
    background-repeat: repeat;
}

.cta .red-blue {
    position: absolute;
    right: 15px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    border: 5px solid red;
    border-radius: 50%;
}

.cta .white {
    position: absolute;
    right: 20px;
    bottom: 25px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 800;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-right: 1px;
}

.window-container-left {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 124px;
}

.window-container-middle {
    position: absolute;
    left: calc(50% - 124px);
    top: 15px;
    width: 248px;
}

.window-container-right {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 124px;
}

.window {
    position: absolute;
    width: 76px;
    height: 75px;
    background-image: linear-gradient(#444, #333);
    border-radius: 5px;
}

.half {
    width: 38px;
}

.quarter {
    width: 28px;
    left: calc(50% - 14px);
    top: 5px;
}

.left {
    left: 1px;
}

.right {
    right: 1px;
}

.middle {
    left: calc(50% - 38px);
}

.doors-container-left {
    position: absolute;
    left: 144px;
    top: 15px;
    width: 80px;
    height: 177px;
    background-image: linear-gradient(#444, #333);
    border-radius: 3px;
}

.doors-container-right {
    position: absolute;
    right: 144px;
    top: 15px;
    width: 80px;
    height: 177px;
    background-image: linear-gradient(#444, #333);
    border-radius: 3px;
}

.door {
    position: absolute;
    width: 38px;
    height: 175px;
    background-image: linear-gradient(#777, #666);
    border-radius: 5px;
}

.wheel {
    position: absolute;
    width: 700px;
    height: 20px;
    left: 10px;
    bottom: 0;
    background-image: linear-gradient(#444, #333);
    border-radius: 0 0 5px 5px;
}
